{% extends 'our_parea/base.html' %}
{% load staticfiles %}

{% block title_block %}

    Home
{% endblock %}

{% block body_block %}

    <div class="box">

        <h1>Heading 1</h1>
        <h5>Subheading</h5>
        <p>
            Hello! Coming soon...
        </p>
        <p>
            <a href="https://www.thecut.com">In the meanwhile, check this out :D</a>
        <br/><br/>
        <ul>
            <li class="nav"><a class= "navtab" href="https://www.linkedin.com/">
            <i id="iconsize" class="fab fa-linkedin"></i></a>
            </li>

            <li class="nav"><a class= "navtab" href="https://www.facebook.com/">
            <i id="iconsize" class="fab fa-facebook"></i></a>
            </li>

            <li class="nav"><a class= "navtab" href="https://www.instagram.com/">
            <i id="iconsize" class="fab fa-instagram"></i></a>
            </li>
        </ul>
        </p>

    </div>

{% endblock %}